
Progr2omadiki/.settings/org.eclipse.jdt.core.prefs
Progr2omadiki/.settings/org.eclipse.jdt.apt.core.prefs
Progr2omadiki/.settings/org.eclipse.core.resources.prefs
Progr2omadiki/.project
Progr2omadiki/.settings/org.eclipse.core.resources.prefs
Progr2omadiki/.settings/org.eclipse.jdt.core.prefs
Progr2omadiki/.project
Progr2omadiki/.classpath
Progr2omadiki/.settings/org.eclipse.jdt.core.prefs
*.prefs
Progr2omadiki/.project
